*{

box-sizing:border-box;

font-family:Tahoma,Arial,sans-serif;

}



body{

margin:0;

background:#f8fafc;

}





header{

background:#2563eb;

color:white;

padding:25px;

text-align:center;

}



header input{

width:80%;

max-width:500px;

padding:14px;

margin-top:15px;

border-radius:10px;

border:none;

font-size:16px;

}





.categories{

display:flex;

gap:10px;

padding:20px;

justify-content:center;

flex-wrap:wrap;

}



.categories button{

padding:10px 20px;

border:none;

border-radius:20px;

background:#e2e8f0;

cursor:pointer;

}





.products{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

padding:30px;

}





.product{

background:white;

border-radius:15px;

padding:20px;

box-shadow:0 5px 15px #0002;

}



.product img{

width:100%;

height:180px;

object-fit:cover;

border-radius:10px;

}





.market{

color:#64748b;

}



.store{

color:#16a34a;

font-size:22px;

font-weight:bold;

}





.login{

background:white;

max-width:400px;

margin:30px auto;

padding:25px;

border-radius:15px;

box-shadow:0 5px 15px #0002;

}



.login input{

width:100%;

padding:12px;

margin:8px 0;

border:1px solid #ddd;

border-radius:8px;

}



.login button{

width:100%;

padding:12px;

background:#2563eb;

color:white;

border:none;

border-radius:8px;

}





@media(max-width:900px){

.products{

grid-template-columns:repeat(2,1fr);

}

}



@media(max-width:500px){

.products{

grid-template-columns:1fr;

}

}